@import url("https://use.typekit.net/hqh8zfz.css");

body{
    background-color: rgb(49, 49, 49);
    display: flex; 
}

.error{
    justify-content: center;
    text-align: center;
    z-index: 0;
}

.yes{
    position: absolute;
    z-index: 10;
    font-size: 30px;
    top: 67%;
    left: 41%;
    opacity: 0;
}

.no{
    position: absolute;
    z-index: 10;

    font-size: 30px;
    top: 67%;
    left: 53%;
    opacity: 0;
}

.ms{
    justify-content: center;
    text-align: center;
    z-index: 0;
}

.delete{
    position: absolute;
    z-index: 10;
    top: 63%;
    left: 3%;
    font-family: 'hydrophilia-iced', sans-serif;
    font-size: 17px;
    font-weight: 100;
    font-style: normal;
}

.delete a{
    text-decoration: none;
    color: black;
}

.delete a:hover{
    text-decoration: underline 1.5px black;
}

.save{
    position: absolute;
    z-index: 10;
    top: 116%;
    left: 88%;
    font-family: 'hydrophilia-iced', sans-serif;
    font-size: 17px;
    font-weight: 100;
    font-style: normal;
}

.save a{
    text-decoration: none;
    color: black;
}

.save a:hover{
    text-decoration: underline 1.5px black;
}

.page2{
    background-color: black;
}

.hack{
    justify-content: center;
    text-align: center;
    z-index: 0;
}

.press{
    position: absolute;
    z-index: 10;
    top: 93%;
    left: 63%;
    font-family: 'hydrophilia-iced', sans-serif;
    font-size: 17px;
    font-weight: 100;
    font-style: normal;
}

.press a{
    text-decoration: none;
    color: #aaa;
}

.cross{
    position: absolute;
    z-index: 10;
    top:4%;
    left: 8%;
    font-family: 'hydrophilia-iced', sans-serif;
    font-size: 21px;
    font-style: normal;
}

.cross a{
    text-decoration: none;
    color: #aaa;
}

.media{
    justify-content: center;
    text-align: center;
    z-index: 0;
}

.tv{
    justify-content: center;
    text-align: center;
    z-index: 0;
}

.vhs{
    justify-content: center;
    text-align: center;
    z-index: 0;
}

.gameb{
    justify-content: center;
    text-align: center;
    z-index: 0;
}
