@import url("https://use.typekit.net/hqh8zfz.css");

body{
    background-color: rgb(49, 49, 49);
    display: flex; 
}


/** index **/

.error{
    justify-content: center;
    text-align: center;
    z-index: 0;
}

.yes{
    position: absolute;
    z-index: 10;
    font-size: 30px;
    top: 67%;
    left: 41%;
    opacity: 0;
}

.no{
    position: absolute;
    z-index: 10;

    font-size: 30px;
    top: 67%;
    left: 53%;
    opacity: 0;
}

/** page 1 **/

#page1{
    background-color: #c0c0c0;
}

.ms{
    justify-content: center;
    text-align: center;
    z-index: 0;
}

.del-msg img{
    position: absolute;
    z-index: 10;
    left: 1.5%;
    top: 83%;
    height: 4%;
}

.del-msg img:hover{
    transform: scale(0.9);
}

.save-msg img{
    position: absolute;
    z-index: 10;
    top: 119.5%;
    left: 86.5%;
    height: 4%;
}
.save-msg img:hover{
    transform: scale(0.9);
}

.paint-nav h2{
    position: absolute;
    font-family: "lores-22-serif", sans-serif;
    font-size: 31px;
    font-style: normal;
    color: transparent;
    z-index: 10;
    left: 5%;
    top: 6%;

}

.hoverable:hover::before{
    content: attr(title);
    transition-delay: 1.3s;
    position: absolute;
    top: 150%;
    left: 10%;
    padding: 10%;
    color: black;
    background: #c0c0c0;
    border: 1px black solid;
    text-align: center;
}

/** page 2 **/

.page2{
    background-color: black;
}

.hack{
    justify-content: center;
    text-align: center;
    z-index: 0;
}

.press-msg{
    position: absolute;
    z-index: 10;
    top: 93%;
    left: 63%;
    font-family: 'hydrophilia-iced', sans-serif;
    font-size: 17px;
    font-weight: 100;
    font-style: normal;
}

.press-msg a{
    text-decoration: none;
    color: #c0c0c0;
}

.press-msg h2:hover{
    transform: scale(0.7);
}

.cross-msg img{
    position: absolute;
    z-index: 10;
    top:8%;
    left: 7%;
}

.cross-msg img:hover{
    transform: scale(0.7);
}

.hq-content{
    position: absolute;
    z-index: 10;
    color: transparent;
    background-color: #c0c0c0;
    left: 53%;
    top: 10%;
}

.hq-content:hover{
    background-color: black;
}

.hq-content h2{
    font-family: "littlebit-dotty-variable",sans-serif;
    font-variation-settings: 'DOTS' 300;
    background-color: black;
    color: black;
}

.hq-content h2:hover{
    background-color: #c0c0c0;
    color: black;
}

.hq-content h3{
    font-family: "lores-22-serif", sans-serif;
    font-size: 31px;
    font-style: normal;
    background-color: black;
    color: black;
}

.hq-content h3:hover{
    background-color: #c0c0c0;
    color: black;
}

/**page 3**/

.mediap{
    justify-content: center;
    text-align: center;
    z-index: 0;
}

.mp-back img{
    position: absolute;
    z-index: 10;
    top: 77.5%;
    left: 50%;
}

.mp-back img:hover{
    transform: scale(0.8);
}

.mp-fwd img{
    position: absolute;
    z-index: 10;
    top: 77.5%;
    left: 81%;
}

.mp-fwd img:hover{
    transform: scale(0.8);
}

.mp-cont{
    position: absolute;
    z-index: 10;
    left: 43%;
    color: #c0c0c0;
    top: 29%;
}

.mp-content h1{
    font-family: "blenny", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.mp-content h1:hover{
    color: rgb(49, 214, 62);
}

.mp-content h2{
    top: 31%;
    font-family: "lores-22-serif", sans-serif;
    font-size: 31px;
    font-style: normal;
}

.mp-content h2:hover{
    color: rgb(255, 230, 0);
    transform: scale(0.89);
}

/** page 4 **/

.tv{
    justify-content: center;
    text-align: center;
    z-index: 0;
}

.go-back img{
    position: absolute;
    z-index: 10;
    top: 77.5%;
    left: 3%;
}

.go-back img:hover{
    transform: scale(0.8);
}


.go-next img{
    position: absolute;
    z-index: 10;
    top: 77.5%;
    left: 95%;
}

.go-next img:hover{
    transform: scale(0.8);
}


/** page 5 **/

.vhs{
    justify-content: center;
    text-align: center;
    z-index: 0;
}

.vhs-rew img{
    position: absolute;
    z-index: 10;
    top: 243%;
    left: 37%;
}

.vhs-rew img:hover{
    transform: scale(0.95);
}

.vhs-fwd img{
    position: absolute;
    z-index: 10;
    top: 243%;
    left: 65%;
}

.vhs-fwd img:hover{
    transform: scale(0.95);
}

.vhs-cont{
    position: absolute;
    z-index: 10;
    color: transparent;
    left: 35%;
    top: 89%;
    text-align: left;
    font-size: 35px;
    font-style: normal;
    font-family: "jeanne-moderno-geometrique", sans-serif;
}

.vhs-content h1:hover{
    color: white
}

.vhs-content h1:hover{
    opacity: 37%;
}
.vhs-content h2:hover{
    color: white
}

.vhs-content h2:hover{
    opacity: 37%;
}
/**page 6**/

.gamebck{
    justify-content: center;
    text-align: center;
    z-index: 0;
}
.gameb-b img{
    position: absolute;
    z-index: 10;
    top: 114%;
    left: 44.5%;
}

.gameb-b img:hover{
    transform: scale(0.95);
}

.gameb-n img{
    position: absolute;
    z-index: 10;
    top: 107%;
    left: 54%;
}

.gameb-n img:hover{
    transform: scale(0.95);
}

.gameb-content{
    position: absolute;
    z-index: 10;
    top: 30%;
    color: #a4a4a4;
    font-size: 23px;
    left: 23%;
    font-family: "lores-22-serif", sans-serif;
    font-style: oblique;
    line-height: 15px;
}

.gameb-content h1:hover{
    color: green;
    background-color: #a4a4a4;
}

.gameb-contentt{
    position: absolute;
    z-index: 10;
    top: 50%;
    color: #a4a4a4;
    font-size: 23px;
    left: 37%;
    font-family: "lores-22-serif", sans-serif;
    font-style: oblique;
    line-height: 15px;
}

.gameb-contentt h2:hover{
    color: orangered;
    background-color:#a4a4a4;
}
