@import url("https://use.typekit.net/hqh8zfz.css");

body{
    background-image: url('img/error.gif');
    text-align: center;
    justify-content: center;
    background-color: rgb(49, 49, 49);
    display: flex; 
}

.yes a{
    z-index: 10;
    top: 50%;
    color: red;
    right: 50px;
}